// 頁面 (瀏覽器) 與物件的間距 ; 外兼具 -- 上下為0，左右自動 ; 內間距上下左右為0 ; 設定在(*) (總管)
$W10: 100%; //100%的值

* {
	// 外間距 -- 上下為0 ; 左右自動 margin ; 若物件寬度小於 100% 時 ， 物件將會自動 垂直 置中
	margin: 0 auto;
	// 內間距 -- 上下左右為0 Padding
	padding: 0;
	// 隱藏項目符號
	list-style-type: none;
}

// 變數區
$NW: 100%; // 導覽列的寬 (Nav 的  Width)
$NH: 65px; //導覽列的高
$W1: $W10 / 10 * 1;
$W2: $W10 / 10 * 2;
$W3: $W10 / 10 * 3;
$W4: $W10 / 10 * 4;
$W5: $W10 / 10 * 5;
$W6: $W10 / 10 * 6;
$W7: $W10 / 10 * 7;
$W8: $W10 / 10 * 8;
$W9: $W10 / 10 * 9;
$text: 16px; //設定文字尺寸的基礎值 單位 16px 或是 1rem(百分比)

// scss 繼承語法
// 繼承區 無法直接撰寫在共用區呼叫；也無法與 mixin 混和函式共用
%Dn {
	display: none;
}

// MIXIN 混和模式
@mixin DN {
	display: none;
}

@mixin BgText {
	// 將文字移至裝置外
	text-indent: -99999px;
	// 背景圖片對齊 (定位點)
	background-position: center;
	// 背景圖片取消重複顯示
	background-repeat: no-repeat;
	// 背景圖片尺寸 auto自動 cover符合框架尺寸 (背景圖片小於容器時，放大圖片製容器的大小並填滿；背景圖片大於容器時，縮小圖片至容器大小並填滿；缺點，容器的長寬比例不合時，會出現背景圖片失真)
	// contain (背景圖片大於容器時，縮小至容器內呈現，會留邊界)
	background-size: contain;
}
