@import "_01Joint.scss";

// RWD 利用 媒體判斷來區分顯示裝置尺寸
// 超小裝置 <576px max-width（最小寬度）
@media screen and (max-width: 576px) {
	// 匯入檔案 @import
	@import "_02Esmall/01index";
	@import "_02Esmall/02InMain";
}

// 小裝置 >=576px min-width（最大寬度 含等於）
@media screen and (min-width: 576px) {
	@import "_03Small/01index";
	@import "_03Small/02InMain";
}

// 平版裝置 >=768 Medium min-width（最大寬度 含等於）
@media screen and (min-width: 768px) {
	@import "_04Medium/01index";
	@import "_04Medium/02InMain";
}

// 大平版裝置 >=992px Large min-width（最大寬度 含等於）
@media screen and (min-width: 992px) {
	@import "_05Large/01index";
}

// 螢幕裝置 >=1200px Xlarge min-width（最大寬度 含等於）
@media screen and (min-width: 1200px) {
	@import "_06Xlarge/01index";
}

// 超大螢幕裝置 >= 1400px XXlarge min-width（最大寬度 含等於）
@media screen and (min-width: 1400px) {
	@import "_07XXlarge/01index";
}
