body {
	background-color: blue;
}

header {
	//寬度 高度 背景顏色
	width: auto;
	height: 50px;
	background-color: chartreuse;
}

main {
	width: auto;
	height: 500px;
	background-color: dimgray;
}

footer {
	width: auto;
	height: 50px;
	background-color: floralwhite;
}
