#Main {
	width: $W10 * 10;
	background-color: burlywood;

	#Banner {
		width: $W10 * 10;
		// 溢位設定，將超出的可視範圍給隱藏
		overflow: hidden;
		// 定位點：相對定位
		position: relative;
		// 父框架變數padding - 子框架變數padding = 相差值(固定 其他裝置大小才不用去一值去設定)
		$Imgpadding: 335px;
		$differ: 85px;
		.Btn {
			width: 30px;
			height: 95px;
			// 水平置中
			text-align: center;
			// 垂直置中 高度 = 行距
			line-height: 95px;
			font-size: $Trem * 1.2;
			// 定位點
			position: absolute;
			// 移動階層（圖層）
			z-index: 15;
			// 左右按鈕,向下推算物件高度(物件父框架的高/2)-(按鈕高度/2)+單位
			top: ($Imgpadding/2)-(95px/2);
		}
		.LeftBtn {
			left: 2.5vw;
			background-color: rgba(255, 255, 255, 0.2);
			@include Rounded(15px);
		}
		.RightBtn {
			// 方向 右邊為0（物件靠右對齊）；float 浮點對齊，配合 上下左右 方向推動
			right: 2.5vw;
			background-color: rgba(255, 255, 255, 0.2);
			@include Rounded(15px);
		}

		#ImgBox {
			width: $W10 * 10;
			@include DNli;
			// 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh
			padding-bottom: $Imgpadding;
			background-color: cadetblue;
			li {
				width: $W10 * 10;
				float: left;
				// 定位點 絕對定位；1. 單獨呼叫時，原點（0,0）會位於畫面（可視範圍）的左上角
				// 2. 物件的父框架呼叫 相對定位（position: relative）時，功能設為「重新定位原點至父框架
				position: absolute;
				// 移動圖片位置；因為 不手機會有不同的中心位置，無法逐一計算，所以要利用 背景圖片 的方式修改
				// margin-left: -235px;
				font-size: 72px;
				text-align: center;
				// 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh (1000*0.26=260)會隨著視窗高度變化
				// 相差值 = 父框架 - 子框架
				padding-bottom: $Imgpadding - $differ;
			}
			.Item01 {
				@include BPhoto(center, cover, Banner ,"001.jpg");
			}
			.Item02 {
				//英文字在數字前,數字被判定為[文字];數字在英文或底線(_)前,數字為數字,[0]為開頭,scss會自動刪除
				// 數字要變為文字,需要轉換為[字串],字串用雙引號包覆
				@include BPhoto(center, cover, Banner, "002.jpg");
			}
			.Item03 {
				@include BPhoto(center, cover, Banner, "003.jpg");
			}
			.Item04 {
				@include BPhoto(center, cover, Banner, "004.jpg");
			}
			.Item05 {
				@include BPhoto(center, cover, Banner, "005.jpg");
			}
		}
	}
}
