/*
大平版裝置的 Icon 與 BtnBox取消「隱藏顯示」，但無法讀取。
因為，媒體判斷的順序是由 小尺寸語法 至 大尺寸，故 大尺寸 沒有下達任何語法時，會直接直判讀至小尺寸
*/
header {
    width: $W10 * 10;
    background-color: yellowgreen;
    nav {
        // 彈性佈局 flex；對齊物件的父框架
        // 顯示方式：彈性佈局
        display: flex;
        // 換行
        flex-wrap: wrap;

        // Logo 寬度 + Icon 寬度 = 總寬度 100vw（100%）
        #Logo {
            width: $W10 * 7;
        }
        #Icon {
            // 開啟隱藏物件
            @include OB;
            width: $W10 * 3;
            // 隱藏項目符號
            @include DNli;
            // 彈性佈局
            display: flex;
        }
        .BtnBox {
            // 開啟隱藏物件
            @include OB;
            width: $W10 * 10;
            // 彈性佈局
            display: flex;
            // 隱藏項目符號
            @include DNli;

            // 隱藏 第二層選單
            ul {
                @include DN;
            }
        }
        #MenuBtn {
            @include DN;
        }
    }
}

footer {
    address {
        //呼叫 混合函式
        @include DN;
    }
}
